:root {
    
}
 /* general css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
}

/* components */
section .container {
    padding: 100px;
}
@media(max-width: 992px) {
    section {
        margin-top: 100px;
    }
    section .container {
        padding: 20px;
    }
}
.container .logo {
    font-family: 'Alata', sans-serif;
    color: white;
    z-index: 10;
}
.container .logo h5 {
    font-size: 2rem;
}
.container .logo h5 a {
    text-decoration: none;
    color: white;
    z-index: 10;
}
/* landing */
/* header */
.header header {
    position: absolute;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    z-index: 7;
    left: 50%;
    transform: translateX(-50%);
}

.header .container .nav ul {
    list-style-type: none;
}
.header .container .nav ul li {
    display: inline;
}
.header .container .nav ul li a {
    text-decoration: none;
    color: white;
    padding: 0 20px;
    opacity: 0.85;
    font-weight: 100;
    z-index: 7;
    padding-bottom: 5px;
    transition: all 1s ease;
}
.header .container .nav ul li a:hover  {
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}
.header .container .menu {
    display: none;
}

/* landing body */
.header .landing {
    background: url(../images/image-hero.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    position: relative;
}
.header .landing .container {
    position: absolute;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}
.header .landing .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 40%);
    height: 100%;
    width: 100%;
}
.header .container .h1 {
    position: absolute;
    top: 200px;
    left: 15px;
    z-index: 1;
    border: 1px solid white;
    padding: 35px 50px;
    text-transform: uppercase;
    color: white;
    width: 580px;
}
.header .container .h1 h1 {
    font-weight: 100;
    letter-spacing: 15px;
    font-size: 3rem;
    opacity: 0.85;
    
}
/* menu-mobile */
.header .container .nav-mobile {
    display: none;
}
.header .container .nav-mobile-vs {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 8;
    display: flex;
    align-items: center;
}
.header .container .nav-mobile-vs ul {
    list-style-type: none;
}
.header .container .nav-mobile-vs ul li{
    padding: 7px 0;
}
.header .container .nav-mobile-vs ul li a {
    color: hsl(0, 0%, 85%);
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    transition: all 1s ease-in;
}
.header .container .nav-mobile-vs ul li a:hover {
    margin-left: 10px;
}
/* responnsive */
@media(max-width: 992px) {
    .header .container .nav ul li a {
        padding: 0 10px;
    }
}
@media(max-width: 767px) {
    .header .container .nav ul {
        display: none;
    }
    .header .container .menu {
        display: block;
        color: white;
        cursor: pointer;
        z-index: 10;
    }
    .header .container .h1 {    
        position: absolute;
        top: 270px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        border: 1px solid white;
        padding: 35px 30px;
        text-transform: uppercase;
        color: white;
        width: 325px;
    }
    .header .container .h1 h1 {
        font-size: 1rem;
    }
}
/* end of landing */
/* leaders .... */
.section2 .container .row {
    position: relative;
}
.section2 .container .row .left {
    position: relative;
}
.section2 .container .row .left::after {
    content: "";
    position: absolute;
    top: 100px;
    right: 0;
    height: 80%;
    width: 20%;
    background-color: white;
}
.section2 .container .row .right {
    position: absolute;
    bottom: 0;
    right: 50px;
}
.section2 .container .row .right h1 {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    word-spacing: 1.5px;
    font-weight: 300;
    line-height: 0.8;
    margin-bottom: 10px;
    width: 100%;
    font-size: 2rem;
}
.section2 .container .row .right p {
    width: 90%;
    font-size: 0.7rem;
}
/* responsive */
@media(min-width: 1200px) /* large pc */ {
    .section2 .container .row .right {
        position: absolute;
        bottom: -10px;
        right: 50px;
    }
    .section2 .container .row .right h1 {
        text-transform: uppercase;
        letter-spacing: 1.5px;
        word-spacing: 1.5px;
        font-weight: 300;
        font-size: 3.2rem;
        line-height: 0.8;
        margin-bottom: 30px;
        width: 90%;
    }
    .section2 .container .row .right p {
        width: 73%;
        font-size: 0.8rem;
    }
}
@media(max-width: 992px) /* ipad */ {
    .section2 .container .row .left::after {
        content: "";
        position: absolute;
        top: 100px;
        right: 0;
        height: 0;
        width: 20%;
        background-color: white;
    }
    .section2 .container .row .right {
        position: relative;
        top: 0;
        right: 0;
        margin-top: 20px;
    }
}
@media(max-width: 767px) /* phone */ {
    .section2 .container .row .right {
        margin-top: 50px;
        text-align: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .section2 .container .row .right p {
        width: 100%;
        font-size: 1rem;
        font-weight: 200;
        margin-top: 30px;
    }
}
/* our creation */
.our-creation .container {
    position: relative;
}
.our-creation .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.our-creation .top h1 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    word-spacing: 2px;
}
.our-creation .top button {
    padding: 0px 50px;
    text-transform: uppercase;
    font-size: 1.2rem;
    background-color: transparent;
    transition: all 0.7s ease;
}
.our-creation .top button:hover {
    background-color: black;
    color: white;
}
.our-creation .bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}
.our-creation .bottom .img {
    height: 360px;
    position: relative;
    padding: 15px;
    transition: all 1s ease-out;
}
.our-creation .bottom .img:hover {
    cursor: pointer;
}
.our-creation .bottom .img:hover h3 {
    font-size: 2.1em;
}
.our-creation .bottom .img h3 {
    position: absolute;
    bottom: 20px;
    text-transform: uppercase;
    width: 70%;
    color: white;
    font-weight: 100;
    transition: all 1s ease-out;
}
/* responsive */
@media(min-width: 1200px) {
    .our-creation .bottom .img {
        height: 420px;
        padding: 30px;
    }
    .our-creation .bottom .img h3 {
        width: 50%;
    }
}
@media(max-width: 992px) {
    .our-creation .bottom {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}
@media(max-width: 767px) {
    .our-creation .top {
        display: block;
        text-align: center;
        margin-bottom: 40px;
    }
    .our-creation .top button {
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
    }
    .our-creation .bottom {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
    }
    .our-creation .bottom .img {
        height: 200px;
        padding: 30px;
    }
}
.our-creation .bottom .img1 {
    background: url(../images/image-deep-earth.jpg) no-repeat;
    background-position: center;
        background-size: cover;
}
.our-creation .bottom .img2 {
    background: url(../images/image-night-arcade.jpg) no-repeat;
    background-position: center;
        background-size: cover;
}
.our-creation .bottom .img3 {
    background: url(../images/image-soccer-team.jpg) no-repeat;
    background-position: center;
        background-size: cover;
}
.our-creation .bottom .img4 {
    background: url(../images/image-grid.jpg) no-repeat;
    background-position: center;
        background-size: cover;
}
.our-creation .bottom .img5 {
    background: url(../images/image-from-above.jpg) no-repeat;
    background-position: center;
        background-size: cover;
}
.our-creation .bottom .img6 {
    background: url(../images/image-pocket-borealis.jpg) no-repeat;
    background-position: center;
        background-size: cover;
}
.our-creation .bottom .img7 {
    background: url(../images/image-curiosity.jpg) no-repeat;
    background-position: center;
        background-size: cover;
}
.our-creation .bottom .img8 {
    background: url(../images/image-fisheye.jpg) no-repeat;
    background-position: center;
        background-size: cover;
}
@media(max-width: 767px) {
    .our-creation .bottom .img1 {
        background: url(../images/mobile/image-deep-earth.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }
    .our-creation .bottom .img2 {
        background: url(../images/mobile/image-night-arcade.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }
    .our-creation .bottom .img3 {
        background: url(../images/mobile/image-soccer-team.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }
    .our-creation .bottom .img4 {
        background: url(../images/mobile/image-grid.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }
    .our-creation .bottom .img5 {
        background: url(../images/mobile/image-from-above.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }
    .our-creation .bottom .img6 {
        background: url(../images/mobile/image-pocket-borealis.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }
    .our-creation .bottom .img7 {
        background: url(../images/mobile/image-curiosity.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }
    .our-creation .bottom .img8 {
        background: url(../images/mobile/image-fisheye.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }
}
/* footer */
footer {
    background-color: black;
    position: relative;
}
footer .container {
    padding: 50px 100px;
}
footer .container ul {
    list-style-type: none;
}
footer .container ul li {
    display: inline;
}
footer .container ul li a {
    text-decoration: none;
    color: white;
    padding-right: 20px;
    opacity: 0.85;
    font-weight: 100;
    z-index: 7;
}
footer .container .icons i {
    color: white;
    padding: 0 5px ;
    font-size: 1.5rem;
}
footer .top {
    margin-bottom: 30px;
}